#banniere,#banniere 
ul {
  margin: 0;
  padding:0;
  background-color: #B95454 ;
  list-style:none;
text-align:center ;
}
#banniere li{
display:inline-block;
position:relative;
border-radius:;
}
#banniere ul li{
display:inherit;
border-radius:;
}
#banniere ul li:hover{
border-radius: ;
}
#banniere ul li:last-child{
border-radius:;
}
#banniere ul{
position:absolute;
z-index: 100000;
max-height:0;
left: 0;
right:0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#banniere li:hover ul{
max-height:17em;
}
/* background des liens menus */
#banniere li:(1){
background-color: #FB0B0B;
background-image:-webkit-linear-gradient(top, #333A40 100%);
background-image:linear-gradient(to bottom, #333A40 100%);
}
#banniere li:(2){
background-color: #FB0B0B;
background-image: -webkit-linear-gradient(top, #333A40 100%);
background-image:linear-gradient(to bottom, #333A40 100%);
}
#banniere li:(3){
background-color: #FB0B0B;
background-image:-webkit-linear-gradient(top,#333A40 100%);
background-image:linear-gradient(to bottom, #333A40 100%);
}
#banniere li:(4){
background-color: #FB0B0B;
background-image:-webkit-linear-gradient(top, #333A40 100%);
background-image:linear-gradient(to bottom, #333A40 100%);
}
/* background des liens sous menus */
#banniere li:(1) li{
background:#333A40;
}
#menu-demo2 li:(2) li{
background:#333A40;
}
#menu-demo2 li:(3)li{
background:#333A40;
}
#menu-demo2 li:(4) li{
background:#333A40;
}
/* background des liens menus et sous menus au survol */
#banniere li:(1):hover, #banniere li:(1) li:hover{
background:#333A40;
}
#banniere li:(2):hover, #banniere li:(2) li:hover{
background:#333A40;
}
#banniere li:(3):hover, #banniere li:(3) li:hover{
background:#333A40;
}
#banniere li:(4):hover, #banniere li:(4) li:hover{
background:#333A40;

}
/* les a href */
#banniere a{
text-decoration:none;
display:block;
padding:8px 45px;
color:#fff;
font-family:arial;
}
#banniereul a{
padding:8px 0;
}
#banniere li:hover li a{
color:#fff;
text-transform:inherit;
}
#banniere li:hover a, #banniere li li:hover a{
color:#fff;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration:arial;
  font-size: 30px;
  color: #D70808;
  display: block;
}

footer{

background-color:#EACFB8;

}

#text{
width: 200px
padding-left:100px;
}
